{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <main>
        <link rel="stylesheets" href="{{ asset('styles/style-formpages.css') }}">
    	<section style="background-image: url('{{ asset('styles/images/Image2.png') }}')" class="section-bg test">
            <div class="central-objects"> 
                <div class="form-container">
                    <h1>Register</h1>
                    <div class="text-container">
                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.firstName) }}
                            {{ form_row(registrationForm.lastName) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.username) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                                }) }}
                            {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    <div class="btn-container">
                        <button type="submit" class="btn submit-btn text-white fw-bold">Register</button>
                    </div>
                
                        {{ form_end(registrationForm) }}
                </div>
            </div>
          </section>
    </main>
{% endblock %}