{% extends 'base.html.twig' %}

{% block title %}Hello CookiesController!{% endblock %}

{% block body %}


    <header class="container test">
      <div class="d-flex .flex-row align-items-center justify-content-between container4buttons test">
        <div class="logo-box test">
          <img src="{{ asset('styles/images/LOGO_GREEN.png') }}" width="120px" >
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_home') }}" role="button" >Home</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_index') }}" role="button" >What's new</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_search') }}"  role="button">Search</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_new') }}" role="button" >Tell us</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_about') }}"  role="button"> About</a>
        </div>
        <div class="login-btn submit-btn ">
          <a class="btn text-white fw-bold" href="{{ path('app_login') }}"  role="button">Login</a>
        </div>
      </div>
    </header>

    <main>
        <link rel="stylesheets" href="{{ asset('styles/style-formpages.css') }}">
    	<section class="main-section">
            <div class="title-footers">
            <h1>Cookies</h1>
            </div>
            <div>
                <p>When you browse YOUR JOURNEY website, cookies are stored in your browser. For some cookies, your consent is required. Click on each cookie type to enable or disable their use. In order to use all the features offered by the YOUR JOURNEY website (sharing articles, website improvement based on browsing data, etc.), we recommend keeping all types of cookies activated.
            </p>
            </div>
        </section>
    </main>    
{% endblock %}
