{# templates/article/_edit_comment.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}


    <header class="container test">
      <div class="d-flex .flex-row align-items-center justify-content-between container4buttons test">
        <div class="logo-box test">
          <img src="{{ asset('styles/images/LOGO_GREEN.png') }}" width="120px" >
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_home') }}" role="button" >Home</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_index') }}" role="button" >What's new</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_search') }}"  role="button">Search</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_new') }}" role="button" >Tell us</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_about') }}"  role="button"> About</a>
        </div>
        <div class="login-btn submit-btn ">
          <a class="btn text-white fw-bold" href="{{ path('app_login') }}"  role="button">Login</a>
        </div>
      </div>
    </header>

    <main>
            <link rel="stylesheets" href="{{ asset('styles/style-footers.css') }}">
    	<section class="section-bg test">
            <h1>Edit Comment</h1>

            {{ form_start(form) }}
                {{ form_row(form.content) }}
                <button class="btn">Update</button>
            {{ form_end(form) }}
        </section>
    <main>
{% endblock %}