{#{% form_theme form 'bootstrap_5_layout.html.twig' %} #}

    <header class="container test">
      <div class="d-flex .flex-row align-items-center justify-content-between container4buttons test">
        <div class="logo-box test">
          <img src="{{ asset('styles/images/LOGO_GREEN.png') }}" width="120px" >
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="home" role="button" >Home</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="article" role="button" >What's new</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="article/search" role="button">Search</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="article/new" role="button" >Tell us</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="about" role="button"> About</a>
        </div>
        <div class="login-btn submit-btn ">
          <a class="btn text-white fw-bold" href="login" role="button">Login</a>
        </div>
      </div>
    </header>
    <main>
        <link rel="stylesheets" href="{{ asset('styles/style-formpages.css') }}">
    	<section style="background-image: url('{{ asset('styles/images/Image5.png') }}')" class="section-bg test">
        <div class="form-container article-container">
            <h1>Tell us about your trip!</h1>
                <p>For more views, fill in all the fields.</p>
            {{ form_start(form) }}
                <div class='d-flex justify-content-around'>
                    {{ form_row(form.place, {'attr': {'style': 'width: 300px; height: 25px;'}})}}
                    {{ form_row(form.city, {'attr': {'style': 'width: 300px; height: 25px;'}})}}
                    {{ form_row(form.country, {'attr': {'style': 'width: 300px; height: 25px;'}})}}
                </div>
                <div class='d-flex justify-content-around'>
                    {{ form_row(form.attraction, {'attr': {'style': 'width: 450px; height: 25px;'}})}}
                    {{ form_row(form.activity, {'attr': {'style': 'width: 450px; height: 25px;'}})}}
                </div>
                <div class='d-flex justify-content-start'>
                    {{ form_row(form.title, {'attr': {'style': 'width: 950px; height: 25px;'}})}}
                </div>
                <div class='d-flex justify-content-between'>
                    {{ form_row(form.textArea, {'attr': {'style': 'width: 950px; height: 95px;'}})}}
                </div>
                <div class='d-flex justify-content-around'>
                    {{ form_row(form.publishedAt, {'attr': {'style': 'width: 450px; height: 25px;'}})}}
                    {{ form_row(form.photo, {'attr': {'style': 'width: 450px;'}})}}
                </div>
                <div>
                    {{ form_widget(form) }}
                </div>
                <div class=' btn-container-article'>
                    <button class="btn submit-btn text-white fw-bold">{{ button_label|default('Save') }}</button>
                    <a href="{{ path('app_article_index') }}">back to list</a>
                </div>

            {{ form_end(form) }}
        </div> 
        </section>
    </main>