{# templates/article/search.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Search Article{% endblock %}

{% block body %}
    <h1>Search</h1>

    {{ form_start(form) }}
        {{ form_row(form.place) }}
        {{ form_row(form.city) }}
        {{ form_row(form.country) }} 
        {{ form_row(form.attraction) }}
        {{ form_row(form.activity) }}                       
        {{ form_row(form.title) }}

        <button type="submit" class="btn-link">Search</button>

    {{ form_end(form) }}

{% endblock %}