{# templates/article/search.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Search Article{% endblock %}

{% block body %}

    <header class="container test">
      <div class="d-flex .flex-row align-items-center justify-content-between container4buttons test">
        <div class="logo-box test">
          <img src="{{ asset('styles/images/LOGO_GREEN.png') }}" width="120px" >
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_home') }}" role="button" >Home</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_index') }}" role="button" >What's new</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_search') }}"  role="button">Search</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_article_new') }}" role="button" >Tell us</a>
        </div>
        <div class="nav-buttons my-custom-button ">
          <a class="btn text-white fw-bold" href="{{ path('app_about') }}"  role="button"> About</a>
        </div>
        <div class="login-btn submit-btn ">
          <a class="btn text-white fw-bold" href="{{ path('app_login') }}"  role="button">Login</a>
        </div>
      </div>
    </header>
    <main>
        <link rel="stylesheets" href="{{ asset('styles/style-formpages.css') }}">
    	<section style="background-image: url('{{ asset('styles/images/image1.png') }}')" class="section-bg">
            <div class="form-container">
                <h1>Search</h1>
                {{ form_start(form) }}
                    {{ form_row(form.place, {'attr': {'style': 'width: 350px; height: 25px;'}}) }}
                    {{ form_row(form.city, {'attr': {'style': 'width: 350px; height: 25px;'}}) }}
                    {{ form_row(form.country, {'attr': {'style': 'width: 350px; height: 25px;'}}) }} 
                    {{ form_row(form.attraction, {'attr': {'style': 'width: 350px; height: 25px;'}}) }}
                    {{ form_row(form.activity, {'attr': {'style': 'width: 350px; height: 25px;'}}) }}                       
                    {{ form_row(form.title, {'attr': {'style': 'width: 350px; height: 25px;'}}) }}
                    <div class="btn-container d-flex justify-content-center mt-4">
                        <button type="submit" class="btn submit-btn btn-lg btn-primary text-white fw-bold btn-link">Search</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </section>
    </main>

{% endblock %}