{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>

            <tr>
                <th>Place</th>
                <td>{{ article.place }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ article.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ article.country }}</td>
            </tr>
            <tr>
                <th>Attraction</th>
                <td>{{ article.attraction }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ article.activity }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Text Area</th>
                <td>{{ article.textArea }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ article.photo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">Edit</a>

    {{ include('article/_delete_form.html.twig') }}


{# copied from templates/comment/create.html.twig NOW change form to: formComment #}

    <h3>Create a comment for "{{ article.title }}"</h3>
    {# {{ form(form, {'method': 'GET'}) }} #}
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button class="btn">Submit</button>
    {{ form_end(form) }}

    <h2>Comments</h2>
    <table>
        <tbody>

            <td>
            {% for comment in comments %}
                {{ comment.content ~ comment.username }}
            {% endfor %}
            </td>

        </tbody>
    </table>

    
{% endblock %}