{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <h4>{{ article.user.username }}</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>

            <tr>
                <th>Place</th>
                <td>{{ article.place }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ article.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ article.country }}</td>
            </tr>
            <tr>
                <th>Attraction</th>
                <td>{{ article.attraction }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ article.activity }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Text Area</th>
                <td>{{ article.textArea }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ article.photo ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>


    {% if user is same as(article.user) %}
    <a href="{{ path('app_article_edit', {'slug': article.slug, 'id': article.id}) }}">Edit</a>
    {{ include('article/_delete_form.html.twig') }}
    {% endif %}


    <h3>Create a comment for "{{ article.title }}"</h3>
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button class="btn">Submit</button>
    {{ form_end(form) }}

    <h2>Comments</h2>
    <ul style="list-style-type: none;">
        <li>
            <td>
            {% for comment in comments %}
                <p><strong>{{ comment.user.username }}</strong></p>
                {{ comment.content }}
                {% if user is same as(comment.user) %}
                <a href="{{ path('app_article_edit_comment', {'id': comment.id}) }}">Edit</a>
                {{ include('article/_delete_comment.html.twig') }}
                {% endif %}
                </form>
            {% endfor %}
            </td>
        </tbody>
    </ul>

{% endblock %}
    {#  {% if user is same as(comment.user) or is_granted('ROLE_ADMIN') %}
    {# EDIT NOT YET DONE IN THE OCNTORLLER 
    <a href="{{ path('app_comment_edit', {'commentId': comment.id}) }}">Edit</a>
    <form method="post" action="{{ path('app_article_show', {id: article.id}) }}" style="display:inline;">  
    {% endif %} 
    {{ include('article/_delete_comment.html.twig') }} #}
  
